{% extends 'base.html' %}

{% block title %}Question #{{ question_number }}{% endblock %}

{% block body %}
    {% for msg in get_flashed_messages() %}
        <h1>{{ msg }}</h1>
    {% endfor %}

    {% if question_number < satisfaction_survey_length - 1 %}
        <form action="/answer/{{ question_number }}" method="POST">
            <p>{{ question }}</p>

            {% for choice in choices %}
                <input type="radio" id="{{ choice }}" value="{{ choice }}" name="answer" required>
                <label for="{{ choice }}">{{ choice }}</label><br>
            {% endfor %}
            <button type ="submit">Next</button>
        </form>
    {% endif %}

    {% if question_number == satisfaction_survey_length - 1 %}
        <form action="/answer/{{ question_number }}" method="POST">
            <p>{{ question }}</p>

            {% for choice in choices %}
                <input type="radio" id="{{ choice }}" value="{{ choice }}" name="answer" required>
                <label for="{{ choice }}">{{ choice }}</label><br>
            {% endfor %}

            <button type ="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}